* { 
    margin: 5px;
    padding: 5px;
                   
}



input { 
    font-size: .9rem;
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 4 / 4; }
    .div2 { grid-area: 4 / 1 / 6 / 4; }
    .div3 { grid-area: 1 / 4 / 6 / 6; }
    .div4 { grid-area: 5 / 4 / 6 / 6; }

    .div1 {
        border: 3px solid red;
        text-align: center;
    }
    .div2 {
        border: 3px solid red;
        text-align: center;
    }
    .div3    {
        border: 3px solid red;
    }
    body { 
        border: 5px solid red;
    }
    .div4 {
        text-align: center;
        border: 5px solid red;
    }


    @media screen and (max-width: 450px)  {
        input {
            font-size: 0.7rem;
             
        }
        * {
            margin: 2px;
            padding: 2px;
          
        }
     
    }
    
    @media screen and (max-width: 300px)  {
        input {
            font-size: 0.5rem;
             
        }
        * {
            margin: 1px;
            padding: 1px;
          
        }
     
    }